@import "tailwindcss"; 

@theme {
  --color-bg-primary: #131313; 
  --color-bg-surface: #232323;

  --color-text-primary: #ECEAE6; 
  --color-text-muted: #A39A8E;

  /* Accents */
  --color-accent-primary: #5B93C9; 
  --color-accent-secondary: #8566B0; 
  --color-accent-amber: #D8B766; 
  --color-accent-red: #B87760; 
  --color-accent-green: #67C255; 

  /* Fonts */
  --font-inter: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace; 
  --font-space: "Space Grotesk";
}

*{
  cursor: none !important;
  pointer-events: none !important;
  user-select: none !important;
}